/*	css reset from:
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

table {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* general-purpose css */

em {
    background-color: #FFFF00
}

/* target is the id of the window where the experiment appears.
Everything below target is contained inside target and so should be <= in size. */

#target { 
    width: 750px; 
    margin-left:auto; 
    margin-right:auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px; 
    text-align: left;
}

/* styles for displaying questions during trials */

table.trial_text_table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 3px 0px;
    font-size: 14px;
}

table.trial_text_table td {
    width: 50%;
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    background: LightGrey;
    padding: 0px 10px 0px 10px;
}

/* styles for response buttons */

button.trial_answer_button {
    width: 750px;
    text-align: center;
    background: LightGrey;
/*    height: 100px;
    white-space: normal;*/
}

button.selected {
    background: LightGreen;
}

/* styles for content inside response buttons */

table.matching_response {
    table-layout: fixed;
    width: 720px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px; 
}

table.matching_response tr{
    border-style: solid;
    border-width: 1px;
}

table.matching_response td{
    padding: 5px;
}